X_WS_SOAP_Java/wsdl/wsimport/UniversalTime/UniversalTimeServiceSEI_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://universaltime.handler.ws.pg.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://universaltime.handler.ws.pg.com/">

<xs:element name="getCurrentTime" type="tns:getCurrentTime"></xs:element>

<xs:element name="getCurrentTimeResponse" type="tns:getCurrentTimeResponse"></xs:element>

<xs:complexType name="getCurrentTime">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrentTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>