X_WS_SOAP_Java/wsdl/ChildWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://exposews.servlet.ws.pg.com/" name="ChildWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://exposews.servlet.ws.pg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://exposews.servlet.ws.pg.com/" schemaLocation="ChildWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="childWSImplMethod">
    <part name="parameters" element="tns:childWSImplMethod"/>
  </message>
  <message name="childWSImplMethodResponse">
    <part name="parameters" element="tns:childWSImplMethodResponse"/>
  </message>
  <message name="childM1">
    <part name="parameters" element="tns:childM1"/>
  </message>
  <message name="childM1Response">
    <part name="parameters" element="tns:childM1Response"/>
  </message>
  <message name="oneLevel">
    <part name="parameters" element="tns:oneLevel"/>
  </message>
  <message name="oneLevelResponse">
    <part name="parameters" element="tns:oneLevelResponse"/>
  </message>
  <message name="twoLevel">
    <part name="parameters" element="tns:twoLevel"/>
  </message>
  <message name="twoLevelResponse">
    <part name="parameters" element="tns:twoLevelResponse"/>
  </message>
  <portType name="ChildWSImplPortType">
    <operation name="childWSImplMethod">
      <input message="tns:childWSImplMethod"/>
      <output message="tns:childWSImplMethodResponse"/>
    </operation>
    <operation name="childM1">
      <input message="tns:childM1"/>
      <output message="tns:childM1Response"/>
    </operation>
    <operation name="oneLevel">
      <input message="tns:oneLevel"/>
      <output message="tns:oneLevelResponse"/>
    </operation>
    <operation name="twoLevel">
      <input message="tns:twoLevel"/>
      <output message="tns:twoLevelResponse"/>
    </operation>
  </portType>
  <binding name="ChildWSImplPortTypePortBinding" type="tns:ChildWSImplPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="childWSImplMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="childM1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="oneLevel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="twoLevel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ChildWSService">
    <port name="ChildWSImplPortTypePort" binding="tns:ChildWSImplPortTypePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

