X_WS_SOAP_Java/wsdl/MapTableServiceImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://math.simpleserver.ws.pg.com/" xmlns:tns="http://math.simpleserver.ws.pg.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getSquare" type="tns:getSquare"/>

  <xs:element name="getSquareResponse" type="tns:getSquareResponse"/>

  <xs:complexType name="getSquare">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSquareResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

