X_WS_SOAP_Java/wsdl/MapTableServiceImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://math.simpleserver.ws.pg.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://math.simpleserver.ws.pg.com/">

<xs:element name="getSquare" type="tns:getSquare"></xs:element>

<xs:element name="getSquareResponse" type="tns:getSquareResponse"></xs:element>

<xs:complexType name="getSquare">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSquareResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>