X_WS_SOAP_Java/wsdl/wsgen/RPCLiteralService/RPCLiteralServiceSEI_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://literal.rpc.binding.ws.pg.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="exchangeRateRequestBO">
    <xs:sequence>
      <xs:element name="amount" type="xs:double" minOccurs="0"/>
      <xs:element name="currency" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exchangeRateBO">
    <xs:sequence>
      <xs:element name="amount" type="xs:double" minOccurs="0"/>
      <xs:element name="currency" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

