X_WS_SOAP_Java/wsdl/wsimport/DocLiteralWrap/DocLiteralWrapServiceSEI_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://wrap.literal.doc.binding.ws.pg.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wrap.literal.doc.binding.ws.pg.com/">

<xs:element name="getExchangeRate" type="tns:getExchangeRate"></xs:element>

<xs:element name="getExchangeRateResponse" type="tns:getExchangeRateResponse"></xs:element>

<xs:complexType name="getExchangeRate">
<xs:sequence>
<xs:element name="arg0" type="tns:exchangeRateRequestBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exchangeRateRequestBO">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="currency" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExchangeRateResponse">
<xs:sequence>
<xs:element name="return" type="tns:exchangeRateBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exchangeRateBO">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="currency" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>